{{ >header }}

	<section class="signup">
		{{ #exist_error }}
			<h1>Account already exist.</h1>
		{{ /exist_error }}
		
		<form method="POST" action="/join/signup">
			<div class="form-row">
				<label for="username">Username:</label>
				<input id="username" type="text" name="username" required />
			</div>

			<div class="form-row">
				<label for="password">Password:</label>
				<input id="password" type="password" name="password" required />
			</div>

			<div class="form-row">
				<label for="repeat_password">Repeat Password:</label>
				<input id="repeat_password" type="password" name="repeat_password" required />
			</div>

			<div class="form-row">
				<label for="email">Your Email:</label>
				<input id="email" type="email" name="email" required />
			</div>	
			<input type="submit" value="Create Account &raquo;" />
		</form>
	</section>

{{ >footer }}