{{ >header }}

	<section class="advertise">
		

		<h1>{{ header }}</h1>

		{{ #logged }}
			<p class="red"><strong>*Only current advertisers like those with a Banner in Listing may place bids for our 
			exclusive advertisements. </strong></p>
		{{ /logged }}
		{{ ^logged }}
			<p class="red"><strong>*You are not logged in, you must be logged in to bid on our exclusive Ad Auctions. 
			<a href="/login">Click here to login.</a></strong></p>
		{{ /logged }}

		<p>GameSites200.com is an extremely fast growing site with many opportunities 
		for advertising. The site delivers roughly 100,000 pageviews a day, and generates 
		over <a href="/stats"><strong>3,000,000 hits out a month</strong></a>.</p>

		<p>The following details the advertising available:</p>

		<h2>Exclusive Advertisements</h2>

		<div class="ad-cont">
			<h3>&bull; Sponsorship Ad Spot - 1 Month</h3>

			<div class="border">
				This ad spot is currently <strong>AVAILABLE</strong>. 
				You may place your best offer for this ad and an auction will start. The auto-bid system will 
				increment your bid by the minimum amount up to your maximum offer if another person places a 
				higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
				auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
				abuse of the bidding system will result in a permanent ban. <br />

				<strong>$</strong> <input type="number" name="bid" min="1" value="150">
				<button class="" type="submit" name="submit">Place Bid</button>
			</div>

			<blockquote>
				<strong>Description:</strong> Sponsorship lets you spread your name and banners all over the 
				top list of your choice. Your 728x90 leaderboard banner goes into a special box at the top of 
				the list with your own description or ad writeup. No other ad spot gives your site more exposure 
				and hits as visitors will see your banner wherever they go.
			</blockquote>

			<img src="/images/sponsorship_sample.jpg" />
			<hr>
		</div>

		<div class="ad-cont">
			<h3>&bull; Site of the Moment - 1 Month</h3>

			<div class="border">
				This ad spot is currently <strong>AVAILABLE</strong>. 
				You may place your best offer for this ad and an auction will start. The auto-bid system will 
				increment your bid by the minimum amount up to your maximum offer if another person places a 
				higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
				auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
				abuse of the bidding system will result in a permanent ban. <br />

				<strong>$</strong> <input type="number" name="bid" min="1" value="100">
				<button class="" type="submit" name="submit">Place Bid</button>
			</div>

			<blockquote>
				<strong>Description:</strong> Site of the Moment displays your 468x60 site banner and description 
				above all the other sites on the list, are allowed a larger file size, and can have a longer 
				description. You definitely will have the #1 exposure compared to the rest of the sites and can 
				use a more engaging and attractive banner.
			</blockquote>

			<img src="/images/sotm_sample.jpg" />
			<hr>
		</div>

		<div class="ad-cont">
			<h3>&bull; Banner #2 - 1 Month</h3>

			<div class="border">
				This ad spot is currently <strong>AVAILABLE</strong>. 
				You may place your best offer for this ad and an auction will start. The auto-bid system will 
				increment your bid by the minimum amount up to your maximum offer if another person places a 
				higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
				auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
				abuse of the bidding system will result in a permanent ban. <br />

				<strong>$</strong> <input type="number" name="bid" min="1" value="65">
				<button class="" type="submit" name="submit">Place Bid</button>
			</div>

			<blockquote>
				<strong>Description:</strong> This exclusive banner is located right after the Top 10 sites 
				on the list and lets you get plenty of exposure. The banner can be as large as 728x90 in size.
			</blockquote>

			<img src="/images/2ndbanner_sample.jpg" />
			<hr>
		</div>

		<div class="ad-cont">
			<h3>&bull; Banner #3 - 1 Month</h3>

			<div class="border">
				This ad spot is currently <strong>AVAILABLE</strong>. 
				You may place your best offer for this ad and an auction will start. The auto-bid system will 
				increment your bid by the minimum amount up to your maximum offer if another person places a 
				higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
				auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
				abuse of the bidding system will result in a permanent ban. <br />

				<strong>$</strong> <input type="number" name="bid" min="1" value="35">
				<button class="" type="submit" name="submit">Place Bid</button>
			</div>

			<blockquote>
				<strong>Description:</strong> Right after the Top 25 on the list, approximately in the 
				middle of the page, here you have another chance to let your site stand out from the rest. 
				Banner size may go up to 728x90 and be a static or animated image.
			</blockquote>

			<img src="/images/3rdbanner_sample.jpg" />
			<hr>
		</div>

		<div class="ad-cont">
			<h3>&bull; Skyscraper - 1 Month</h3>

			<div class="border">
				This ad spot is currently <strong>AVAILABLE</strong>. 
				You may place your best offer for this ad and an auction will start. The auto-bid system will 
				increment your bid by the minimum amount up to your maximum offer if another person places a 
				higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
				auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
				abuse of the bidding system will result in a permanent ban. <br />

				<strong>$</strong> <input type="number" name="bid" min="1" value="35">
				<button class="" type="submit" name="submit">Place Bid</button>
			</div>

			<blockquote>
				<strong>Description:</strong> Advertise your website in a unique way with this tall skyscraper 
				banner located just below the right side menu. Banner size may be up to 160x600 pixels and can 
				be a static or animated image.
			</blockquote>

			<img src="/images/skyscraper_sample.jpg" />
			<hr>
		</div>

		<div class="ad-cont">
			<h3>&bull; Voting Page Banner - 1 Month</h3>

			<div class="border">
				This ad spot is currently <strong>AVAILABLE</strong>. 
				You may place your best offer for this ad and an auction will start. The auto-bid system will 
				increment your bid by the minimum amount up to your maximum offer if another person places a 
				higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
				auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
				abuse of the bidding system will result in a permanent ban. <br />

				<strong>$</strong> <input type="number" name="bid" min="1" value="65">
				<button class="" type="submit" name="submit">Place Bid</button>
			</div>

			<blockquote>
				<strong>Description:</strong> A unique ad spot, here you can capture visitors even before 
				they vote for another site. The image size for this banner can be up to 728x90.
			</blockquote>

			<img src="/images/votepage_sample.jpg" />
			<hr>
		</div>

		<div class="ad-cont">
			<h3>&bull; Details Page Rectangle - 1 Month</h3>

			<div class="border">
				This ad spot is currently <strong>AVAILABLE</strong>. 
				You may place your best offer for this ad and an auction will start. The auto-bid system will 
				increment your bid by the minimum amount up to your maximum offer if another person places a 
				higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
				auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
				abuse of the bidding system will result in a permanent ban. <br />

				<strong>$</strong> <input type="number" name="bid" min="1" value="35">
				<button class="" type="submit" name="submit">Place Bid</button>
			</div>

			<blockquote>
				<strong>Description:</strong> On each site's details page this rectangle banner shows up, 
				showing your banner on the thousands of site detail pages on Game Sites 200 which are fully 
				indexed by search engines. Size may be up to 300x250 and may be a static or animated image.
			</blockquote>

			<img src="/images/detailspage_sample.jpg" />
		</div>

	</section>

{{ >footer}}