<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/stylesheets/reset.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shorcut icon" type="image/x-ico" href="/images/favicon.ico">
	</head>
	<body>
		<div class="body">
			<div class="wrapper fixed-center">
				<header>
					<h1>
						<a href="/" alt="GAME SITES 200 - Top Gaming Game Sites" class="logo">
							<img src="/images/logo.png">
						</a>
					</h1>
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="{{ main_url }}how">How It Works</a></li>
						<li><a href="{{ main_url }}join">Add Site</a></li>
						<li><a href="{{ main_url }}login">Login</a></li>
						<li><a href="/">Forget Info</a></li>
						<li><a href="/">Contact</a></li>
						<li><a href="/">Advertise</a></li>
					</ul>
				</header>
				<div class="content">