{{ >header }}

	<section class="how">
		<h1>{{ header }}</h1>
		<p>Game Sites 200 is a top sites list that is dedicated in showing you the best sites. We have over 35 games lists, 
		each with their own respective sites.</p>

		<p>Ranking of pages are done according to the number of votes in by a site each month. A 'vote' occurs when a person 
		clicks on the GameSites200 voting link on a site's page, and then clicks on 'OK' to vote. Advanced anti-cheating measures 
		are taken in order to ensure the lists remain free of cheaters.</p>

		<p>A vote out is a hit we send to your website.</p>

		<p>Our code is based on the powerful and versatile evoTopsites, a commercially available top sites list.</p>

		<p>Every month, we reset the number of votes in [a member can still view them from accessing the member's section] so 
		that new sites have a fair chance of reaching the top.</p>

		<p>The benefits to this is that sites with higher ranking are usually better than sites found through a search engine. 
		Anyone can optimize a site for search engines, but getting people to vote for them is an entirely different matter.</p>

		<p>We are the <b>biggest gaming top list</b> on the internet. Just see our <a href="/stats">statistics</a>.</p>

	</section>

{{ >footer}}