{{ >header }}

	<section class="toa">
		<h1>{{ header }}</h1>
		<div>
			<p><strong>The basic rule: <i>A visitor should vote for your site on their own accord, not because it rewards 
			them directly.</i></strong> Play fair. If you don't, why should anyone bother to join?</p>

			<p>Any attempts at cheating will have you banned from the list. This includes but is not limited to spamming, 
			begging, and proxy voting. Your site's staff must be notified that such methods of voting are UNACCEPTABLE, 
			and therefore they must not help in such activities.</p>

			<p>Sites which are soley dedicated to hacking, cracking, or its related actions are <strong>not allowed</strong> on this list. 
			Any such site will be promptly removed</p>

			<p>Sites that display adult content (nudity, erotica, etc) are not allowed.</p>

			<p>You are allowed to have the voting link ONLY on your actual site and its content. You are not allowed to 
			have the voting link popup unrequested, be found inside any program or game, or use any other method in which 
			the user does not arrive at the voting link without their own explicit actions. Using any methods of sending 
			users through your voting link other than from your actual website will result in your site being removed from the list.</p>

			<p>Any display of the voting button or a voting request that is not part of the layout of the site is bannable. 
			If it isn't part of the normal design, it doesn't fly.</p>

			<p>We don't provide any warning or notification if your site is removed.</p>

			<p><strong>Currency (gold, plat, etc) sellers, exploit sites, and guides that promise the moon (and more or less) are 
			NOT ALLOWED IN THE NATURAL LISTINGS. If you wish to advertise, go through Google. If we find you in the 
			top 200 listing, you will be removed, without any notification.</strong></p>

			<p>If you believe another site is cheating, do not hesitate in <a href="/contact">contacting Game Sites 200</a>.</p>
		</div>

		<ul>
			<li><a href="{{ main_url }}">I cannot accept these rules</a></li> |
			<li><a href="/join">I accept these rules &raquo;</a></li>
		</ul>
	</section>

{{ >footer }}