{{ >header }}

<section class="add-private">
	<div class="navbar navbar-default" id="navbar">
		<script type="text/javascript">
			try{ace.settings.check('navbar' , 'fixed')}catch(e){}
		</script>

		<div class="navbar-container" id="navbar-container">
			<div class="navbar-header pull-left">
				<a href="/dashboard" class="navbar-brand">
					<small>
						<i class="icon-leaf"></i>
						Gamesites200
					</small>
				</a><!-- /.brand -->
			</div><!-- /.navbar-header -->

			<div class="navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">

					<li class="light-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<img class="nav-user-photo" src="/avatars/avatar2.png" alt="Jason's Photo" />
							<span class="user-info">
								<small>Welcome,</small>
								{{ #user }} {{ username }} {{ /user }}
							</span>

							<i class="icon-caret-down"></i>
						</a>

						<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="#">
									<i class="icon-cog"></i>
									Settings
								</a>
							</li>

							<li>
								<a href="#">
									<i class="icon-user"></i>
									Profile
								</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="/logout">
									<i class="icon-off"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>
				</ul><!-- /.ace-nav -->
			</div><!-- /.navbar-header -->
		</div><!-- /.container -->
	</div>

	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try{ace.settings.check('main-container' , 'fixed')}catch(e){}
		</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>

			<div class="sidebar sidebar-fixed" id="sidebar">
				<ul class="nav nav-list">
					<li>
						<a href="#">
							<i class="icon-sitemap"></i>
							<span class="menu-text"> Add Site </span>
						</a>
					</li>

					{{ #user }}
						{{ #site_details }}
							<li>
								<a href="/dashboard/sites/{{ site_name }}">
									<i class="icon-laptop"></i>
									<span class="menu-text"> {{ site_name }} </span>
								</a>
							</li>
						{{ /site_details }}
					{{ /user }}

				</ul><!-- /.nav-list -->

				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="#">Home</a>
						</li>
					</ul><!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div><!-- #nav-search -->
				</div>

				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							
							<form method="POST" action="/dashboard/reg_server" class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="gameslist"> Games List </label>
									
									<div class="col-sm-9">
										<select name="gamescategory" class="col-xs-10 col-sm-7" id="gamescategory" required>
											<option value="">-- Select Option --</option>
											{{ #gameslist }}
											<option value="{{ _id }}">{{ name }}</option>
											{{ /gameslist }}
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_name"> Site Name </label>

									<div class="col-sm-9">
										<input type="text" id="site_name" placeholder="Site Name" class="col-xs-10 col-sm-7" name="site_name" required>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_url"> URL </label>

									<div class="col-sm-9">
										<input type="text" id="site_url" placeholder="Site URL" class="col-xs-10 col-sm-7" name="site_url" required>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_email"> Email </label>

									<div class="col-sm-9">
										<input type="text" id="site_name" placeholder="Site Email" class="col-xs-10 col-sm-7" name="site_email">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_desc"> Description </label>

									<div class="col-sm-9">
										<textarea class="col-xs-10 col-sm-7 autosize-transition"
										placeholder="Site Description" name="site_desc" required></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right"></label>
									<div class="col-sm-9">
										<button class="btn btn-info" type="submit">
											<i class="icon-ok bigger-110"></i>
											Register
										</button>
									</div>
								</div>
							</form>

							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container-inner -->

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->
</section>

<!-- Autoresize textarea -->
<script src="/javascripts/jquery.autosize.min.js"></script>
<script type="text/javascript">
jQuery(function($) {
	$('textarea[class*=autosize]').autosize({append: "\n"});
});
</script>

{{ >footer }}