{{ >header }}

<section class="sites">
	<div class="navbar navbar-default" id="navbar">
		<script type="text/javascript">
			try{ace.settings.check('navbar' , 'fixed')}catch(e){}
		</script>

		<div class="navbar-container" id="navbar-container">
			<div class="navbar-header pull-left">
				<a href="/dashboard" class="navbar-brand">
					<small>
						<i class="icon-leaf"></i>
						Gamesites200
					</small>
				</a><!-- /.brand -->
			</div><!-- /.navbar-header -->

			<div class="navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">

					<li class="light-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<img class="nav-user-photo" src="/avatars/avatar2.png" alt="Jason's Photo" />
							<span class="user-info">
								<small>Welcome,</small>
								{{ #user }} {{ username }} {{ /user }}
							</span>

							<i class="icon-caret-down"></i>
						</a>

						<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="#">
									<i class="icon-cog"></i>
									Settings
								</a>
							</li>

							<li>
								<a href="#">
									<i class="icon-user"></i>
									Profile
								</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="/logout">
									<i class="icon-off"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>
				</ul><!-- /.ace-nav -->
			</div><!-- /.navbar-header -->
		</div><!-- /.container -->
	</div>

	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try{ace.settings.check('main-container' , 'fixed')}catch(e){}
		</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>

			<div class="sidebar sidebar-fixed" id="sidebar">
				<ul class="nav nav-list">
					<li>
						<a href="/dashboard/add">
							<i class="icon-sitemap"></i>
							<span class="menu-text"> Add Site </span>
						</a>
					</li>

					{{ #user }}
						{{ #site_details }}
							<li>
								<a href="/dashboard/sites/{{ site_name }}">
									<i class="icon-laptop"></i>
									<span class="menu-text"> {{ site_name }} </span>
								</a>
							</li>
						{{ /site_details }}
					{{ /user }}
					
				</ul><!-- /.nav-list -->

				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="#">Home</a>
						</li>
					</ul><!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div><!-- #nav-search -->
				</div>

				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							
							<p>Your account was created successfully.</p>
							<p>Please note that as we are a topsite list you must link to our site to get traffic from us. The HTML (must be copy pasted to your site) you need to use is as follows:</p>
							<div class="row">
								<div class="col-xs-12">
									<div class="widget-box">
										<div class="widget-header widget-header-flat">
											<h4 class="smaller">
												<i class="icon-code"></i>
												Code view
											</h4>
										</div>

										<div class="widget-body">
											<div class="widget-main">
												<pre class="prettyprint linenums">&lt;!--Begin GameSites200 Vote--&gt;
&lt;p&gt;&lt;a href="{{ main_url }}dashboard/in/{{ id }}"&gt;&lt;img src="{{ main_url }}{{ url }}vote.gif" alt="Vote on the {{ name }} Top 200" border="0"&gt;&lt;/a&gt;&lt;br&gt;
&lt;a href="{{ main_url }}dashboard/in/{{ id }}" style="display: none;"&gt;&lt;img src="{{ main_url }}track.gif" alt="{{ name }} Top 200 - Cheats Free Resources" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;!--End Game Sites 200 Code--&gt;
												</pre>
											</div>
										</div>
									</div>
								</div>
							</div><br>
							<p>This will look like as follows:</p>

							<div>
								<p><a href="{{ main_url }}dashboard/in/{{ id }}">
										<img data-cfsrc="{{ main_url }}{{ url }}vote.gif" alt="Vote on the {{ name }} Top 200" border="0" 
										src="http://www.gamesites200.com/{{ url }}/vote.gif">
									</a>
									<br>
									<a href="{{ main_url }}dashboard/in/{{ id }}" style="display: none;">
										<img data-cfsrc="{{ main_url }}track.gif" alt="{{ name }} Top 200 - Cheats Free Resources" 
										border="0" src="http://www.gamesites200.com/track.gif">
									</a>
								</p>
							</div>

							<p>This HTML code will also be emailed to you.</p>

							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container-inner -->

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->
</section>

{{ >footer }}