<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ title }}</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shorcut icon" type="image/x-ico" href="/images/favicon.ico">

		<!-- basic styles -->
		<link rel="stylesheet" href="/stylesheets/reset.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />


		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="/stylesheets/ace-fonts.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="/stylesheets/ace.min.css" />
		<link rel="stylesheet" href="/stylesheets/ace-rtl.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>