{{ >header }}

<section class="sites">
	<div class="navbar navbar-default" id="navbar">
		<script type="text/javascript">
			try{ace.settings.check('navbar' , 'fixed')}catch(e){}
		</script>

		<div class="navbar-container" id="navbar-container">
			<div class="navbar-header pull-left">
				<a href="/dashboard" class="navbar-brand">
					<small>
						<i class="icon-leaf"></i>
						Gamesites200
					</small>
				</a><!-- /.brand -->
			</div><!-- /.navbar-header -->

			<div class="navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">

					<li class="light-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<img class="nav-user-photo" src="/avatars/avatar2.png" alt="Jason's Photo" />
							<span class="user-info">
								<small>Welcome,</small>
								{{ #user }} {{ username }} {{ /user }}
							</span>

							<i class="icon-caret-down"></i>
						</a>

						<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="#">
									<i class="icon-cog"></i>
									Settings
								</a>
							</li>

							<li>
								<a href="#">
									<i class="icon-user"></i>
									Profile
								</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="/logout">
									<i class="icon-off"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>
				</ul><!-- /.ace-nav -->
			</div><!-- /.navbar-header -->
		</div><!-- /.container -->
	</div>

	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try{ace.settings.check('main-container' , 'fixed')}catch(e){}
		</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>

			<div class="sidebar" id="sidebar">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="icon-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="icon-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="icon-group"></i>
						</button>

						<button class="btn btn-danger">
							<i class="icon-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- #sidebar-shortcuts -->

				<ul class="nav nav-list">
					<li>
						<a href="/dashboard/add">
							<i class="icon-sitemap"></i>
							<span class="menu-text"> Add Site </span>
						</a>
					</li>

					{{ #user }}
						{{ #site_details }}
							<li>
								<a href="/dashboard/sites/{{ site_name }}">
									<i class="icon-laptop"></i>
									<span class="menu-text"> {{ site_name }} </span>
								</a>
							</li>
						{{ /site_details }}
					{{ /user }}
					
				</ul><!-- /.nav-list -->

				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
				</div>

				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>

			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="#">Home</a>
						</li>
					</ul><!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div><!-- #nav-search -->
				</div>

				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							
							<h3>Site Information</h3><hr />
							{{ #server }}
							
							<h2 class="text-center">{{ game }}</h2>
							<form method="POST" class="form-horizontal" action="/dashboard/update_server" role="form">
								<input type="hidden" name="id" value="{{ _id }}" />

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_name"> Site Name </label>

									<div class="col-sm-9">
										<input type="text" name="site_name" id="site_name" placeholder="Site Name" class="col-xs-10 col-sm-8" value="{{ site_name }}" />
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_url"> Site URL </label>

									<div class="col-sm-9">
										<input type="url" name="site_url" id="site_url" placeholder="Site Name" class="col-xs-10 col-sm-8" value="{{ site_url }}" />
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_banner"> Site Banner (URL) </label>

									<div class="col-sm-9">
										<input type="url" name="site_banner" id="site_banner" placeholder="Site Banner" class="col-xs-10 col-sm-8" value="{{ site_banner }}"/>
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_email"> Email </label>

									<div class="col-sm-9">
										<input type="email" name="site_email" id="site_email" placeholder="Site Email" class="col-xs-10 col-sm-8" 
										value="{{ site_email }}" />
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_desc"> Site Description </label>

									<div class="col-sm-9">
										<textarea name="site_desc" id="site_desc" class="col-xs-10 col-sm-8 autosize-transition"
										placeholder="Site Description" name="site_desc">{{ site_desc }}</textarea>
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right"></label>

									<div class="col-sm-9">
										<button class="btn btn-info" type="submit">
											<i class="icon-ok bigger-110"></i>
											Save
										</button>
									</div>
								</div>
							</form><hr />

							<h3>Site Statistics</h3><hr />
							<div class="statistics">
								<div class="row">
									<div class="col-xs-3 no-padding-right text-right">
										<strong>Rankings:</strong>
									</div>

									<div class="col-xs-9">
										<span>0</span>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-3 no-padding-right text-right">
										<span>Current Rank:</span>
									</div>

									<div class="col-xs-9">
										<span>n/a</span>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-3 no-padding-right text-right">
										<span>Rank Yesterday:</span>
									</div>

									<div class="col-xs-9">
										<span>0</span>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-3 no-padding-right text-right">
										<span>Highest Rank in Last 31 Days:</span>
									</div>

									<div class="col-xs-9">
										<span>0</span>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-3 no-padding-right text-right">
										<span>Lowest Rank in Last 31 Days:</span>
									</div>

									<div class="col-xs-9">
										<span>0</span>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-3 no-padding-right text-right">
										<span>In Today:</span>
									</div>

									<div class="col-xs-9">
										<span>0</span>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-3 no-padding-right text-right">
										<span>Out Today:</span>
									</div>

									<div class="col-xs-9">
										<span>0</span>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-3 no-padding-right text-right">
										<span>In this Month:</span>
									</div>

									<div class="col-xs-9">
										<span>0</span>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-3 no-padding-right text-right">
										<span>In for Last 31 Days:</span>
									</div>

									<div class="col-xs-9">
										<span>0</span>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-3 no-padding-right text-right">
										<span>Out this Month:</span>
									</div>

									<div class="col-xs-9">
										<span>0</span>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-3 no-padding-right text-right">
										<span>Out for Last 31 Days:</span>
									</div>

									<div class="col-xs-9">
										<span>0</span>
									</div>
								</div>
							</div><hr />

							<div class="space-12"></div>
							
							<div class="row">
								<div class="col-xs-12">
									<div class="widget-box">
										<div class="widget-header widget-header-flat">
											<h4 class="smaller">
												<i class="icon-code"></i>
												Site Code
											</h4>
										</div>

										<div class="widget-body">
											<div class="widget-main">
												<pre class="prettyprint linenums">&lt;!--Begin GameSites200 Vote--&gt;
&lt;p&gt;&lt;a href="{{ main_url }}/dashboard/in/{{ _id }}"&gt;&lt;img src="{{ main_url }}{{ url }}/vote.gif" alt="Vote on the {{ name }} Top 200" border="0"&gt;&lt;/a&gt;&lt;br&gt;
&lt;a href="{{ main_url }}/dashboard/in/{{ _id }}" style="display: none;"&gt;&lt;img src="{{ main_url }}/track.gif" alt="{{ name }} Top 200 - Cheats Free Resources" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;!--End Game Sites 200 Code--&gt;</pre>
											</div>
										</div>
									</div>
								</div>
							</div><hr />
							{{ /server }}

							<h3>Banner</h3><hr />
							<div class="row">
								<div class="col-xs-3"></div>
								<div class="col-xs-9">
									<div class="banner">
										<h4><strong>Increase your site exposure with a Banner in Listing</strong></h4>

										<p>Currently you do not have the banner in listing option enabled. By paying $10 per month you can have your site image displayed above your site 
										(<strong>maximum size 468x60 pixels, 50KB file size</strong>). This advertising option is a great way to stand out on the top list and gain garner as much as a 
										<strong>50% increase in clicks</strong>.</p>

										<p>The entire system is automated using PayPal so there is absolutely no hassle in using it.</p>
										
										<p><strong>PLEASE NOTE:</strong> Once payment is complete (for users using an eCheck, it must first clear), it will take upto 90 minutes for the banner in listing to appear 
										on the top list. Furthermore, any banner bigger than <strong>468x60 pixels</strong> or <strong>50KB</strong> file size is automatically removed by the system. Please ensure 
										that your banner is not bigger than that, and that it is either of type GIF, JPEG, or PNG.</p>

										<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
											<input type="hidden" name="item_name" value="{{ game }}">
											<input type="hidden" name="item_number" value="896">
											<input type="hidden" name="cmd" value="_ext-enter">
											<input type="hidden" name="redirect_cmd" value="_xclick">
											<input type="hidden" name="return" value="http://www.gamesites200.com/thanks.php">
											<input type="hidden" name="cancel_return" value="http://www.gamesites200.com/">
											<input type="hidden" name="business" value="paypal@gamesites200.com">
											<input type="hidden" name="amount" value="10">
											<input type="hidden" name="notify_url" value="http://ipn.gamesites200.com/ipn.php">
											<input type="hidden" name="no_note" value="1">
											<input type="hidden" name="currency_code" value="USD">
											<button type="submit" class="btn btn-info"><strong>Purchase Banner in Listing &raquo;</strong></button>
										</form>
									</div>
								</div>
							</div><hr />
							
							<h3>Exclusive Advertisements</h3><hr />
							
							<div class="advertisements">
								<div class="alert alert-danger">
									<button type="button" class="close" data-dismiss="alert">
										<i class="icon-remove"></i>
									</button>
									<strong>*</strong> Only current advertisers like those with a Banner in Listing may place bids for our exclusive advertisements. 
									<br>
								</div>

								<div class="widget-box">
									<div class="widget-header">
										<h4>
											<strong>Sponsorship Ad Spot - 1 Month</strong>
										</h4>

										<div class="widget-toolbar">
											<a href="#" data-action="collapse">
												<i class="icon-chevron-up"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="widget-main"><div class="widget-body-inner" style="display: block;">
											<form action="#">
												<p>This ad spot is currently <strong>AVAILABLE</strong>. 
												You may place your best offer for this ad and an auction will start. The auto-bid system will 
												increment your bid by the minimum amount up to your maximum offer if another person places a 
												higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
												auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
												abuse of the bidding system will result in a permanent ban.</p>

												<div class="space-4"></div>

												<span class="input-icon">
													<input type="number" name="bid" min="1" value="250">
													<i class="icon-dollar"></i>
												</span>
												<button class="btn btn-sm btn-primary" type="submit" name="submit">Place Bid</button>
											</form>

											<div class="space-8"></div>

											<blockquote>
												<strong>Description:</strong> Sponsorship lets you spread your name and banners all over the 
												top list of your choice. Your 728x90 leaderboard banner goes into a special box at the top of 
												the list with your own description or ad writeup. No other ad spot gives your site more exposure 
												and hits as visitors will see your banner wherever they go.
											</blockquote>

											<img src="/images/sponsorship_sample.jpg" />
											<div class="space-6"></div>
										</div></div>
									</div>
								</div><hr />

								<div class="widget-box">
									<div class="widget-header">
										<h4>
											<strong>Site of the Moment - 1 Month</strong>
										</h4>

										<div class="widget-toolbar">
											<a href="#" data-action="collapse">
												<i class="icon-chevron-up"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="widget-main"><div class="widget-body-inner" style="display: block;">
											<form action="#">
												<p>This ad spot is currently <strong>AVAILABLE</strong>. 
												You may place your best offer for this ad and an auction will start. The auto-bid system will 
												increment your bid by the minimum amount up to your maximum offer if another person places a 
												higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
												auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
												abuse of the bidding system will result in a permanent ban.</p>

												<div class="space-4"></div>

												<span class="input-icon">
													<input type="number" name="bid" min="1" value="150">
													<i class="icon-dollar"></i>
												</span>
												<button class="btn btn-sm btn-primary" type="submit" name="submit">Place Bid</button>
											</form>

											<div class="space-8"></div>

											<blockquote>
												<strong>Description:</strong> Site of the Moment displays your 468x60 site banner and description 
												above all the other sites on the list, are allowed a larger file size, and can have a longer 
												description. You definitely will have the #1 exposure compared to the rest of the sites and can 
												use a more engaging and attractive banner.
											</blockquote>

											<img src="/images/sotm_sample.jpg" />
											<div class="space-6"></div>
										</div></div>
									</div>
								</div><hr />

								<div class="widget-box">
									<div class="widget-header">
										<h4>
											<strong>Banner #2 - 1 Month</strong>
										</h4>

										<div class="widget-toolbar">
											<a href="#" data-action="collapse">
												<i class="icon-chevron-up"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="widget-main"><div class="widget-body-inner" style="display: block;">
											<form action="#">
												<p>This ad spot is currently <strong>AVAILABLE</strong>. 
												You may place your best offer for this ad and an auction will start. The auto-bid system will 
												increment your bid by the minimum amount up to your maximum offer if another person places a 
												higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
												auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
												abuse of the bidding system will result in a permanent ban.</p>

												<div class="space-4"></div>

												<span class="input-icon">
													<input type="number" name="bid" min="1" value="100">
													<i class="icon-dollar"></i>
												</span>
												<button class="btn btn-sm btn-primary" type="submit" name="submit">Place Bid</button>
											</form>

											<div class="space-8"></div>

											<blockquote>
												<strong>Description:</strong> This exclusive banner is located right after the Top 10 sites 
												on the list and lets you get plenty of exposure. The banner can be as large as 728x90 in size.
											</blockquote>

											<img src="/images/2ndbanner_sample.jpg" />
											<div class="space-6"></div>
										</div></div>
									</div>
								</div><hr />

								<div class="widget-box">
									<div class="widget-header">
										<h4>
											<strong>Banner #3 - 1 Month</strong>
										</h4>

										<div class="widget-toolbar">
											<a href="#" data-action="collapse">
												<i class="icon-chevron-up"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="widget-main"><div class="widget-body-inner" style="display: block;">
											<form action="#">
												<p>This ad spot is currently <strong>AVAILABLE</strong>. 
												You may place your best offer for this ad and an auction will start. The auto-bid system will 
												increment your bid by the minimum amount up to your maximum offer if another person places a 
												higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
												auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
												abuse of the bidding system will result in a permanent ban.</p>

												<div class="space-4"></div>

												<span class="input-icon">
													<input type="number" name="bid" min="1" value="50">
													<i class="icon-dollar"></i>
												</span>
												<button class="btn btn-sm btn-primary" type="submit" name="submit">Place Bid</button>
											</form>

											<div class="space-8"></div>

											<blockquote>
												<strong>Description:</strong> Right after the Top 25 on the list, approximately in the 
												middle of the page, here you have another chance to let your site stand out from the rest. 
												Banner size may go up to 728x90 and be a static or animated image.
											</blockquote>

											<img src="/images/3rdbanner_sample.jpg" />
											<div class="space-6"></div>
										</div></div>
									</div>
								</div><hr />

								<div class="widget-box">
									<div class="widget-header">
										<h4>
											<strong>Skyscraper - 1 Month</strong>
										</h4>

										<div class="widget-toolbar">
											<a href="#" data-action="collapse">
												<i class="icon-chevron-up"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="widget-main"><div class="widget-body-inner" style="display: block;">
											<form action="#">
												<p>This ad spot is currently <strong>AVAILABLE</strong>. 
												You may place your best offer for this ad and an auction will start. The auto-bid system will 
												increment your bid by the minimum amount up to your maximum offer if another person places a 
												higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
												auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
												abuse of the bidding system will result in a permanent ban.</p>

												<div class="space-4"></div>

												<span class="input-icon">
													<input type="number" name="bid" min="1" value="50">
													<i class="icon-dollar"></i>
												</span>
												<button class="btn btn-sm btn-primary" type="submit" name="submit">Place Bid</button>
											</form>

											<div class="space-8"></div>

											<blockquote>
												<strong>Description:</strong> Advertise your website in a unique way with this tall skyscraper 
												banner located just below the right side menu. Banner size may be up to 160x600 pixels and can 
												be a static or animated image.
											</blockquote>

											<img src="/images/skyscraper_sample.jpg" />
											<div class="space-6"></div>
										</div></div>
									</div>
								</div><hr />

								<div class="widget-box">
									<div class="widget-header">
										<h4>
											<strong>Voting Page Banner - 1 Month</strong>
										</h4>

										<div class="widget-toolbar">
											<a href="#" data-action="collapse">
												<i class="icon-chevron-up"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="widget-main"><div class="widget-body-inner" style="display: block;">
											<form action="#">
												<p>This ad spot is currently <strong>AVAILABLE</strong>. 
												You may place your best offer for this ad and an auction will start. The auto-bid system will 
												increment your bid by the minimum amount up to your maximum offer if another person places a 
												higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
												auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
												abuse of the bidding system will result in a permanent ban.</p>

												<div class="space-4"></div>

												<span class="input-icon">
													<input type="number" name="bid" min="1" value="100">
													<i class="icon-dollar"></i>
												</span>
												<button class="btn btn-sm btn-primary" type="submit" name="submit">Place Bid</button>
											</form>

											<div class="space-8"></div>

											<blockquote>
												<strong>Description:</strong> A unique ad spot, here you can capture visitors even before 
												they vote for another site. The image size for this banner can be up to 728x90.
											</blockquote>

											<img src="/images/votepage_sample.jpg" />
											<div class="space-6"></div>
										</div></div>
									</div>
								</div><hr />

								<div class="widget-box">
									<div class="widget-header">
										<h4>
											<strong>Details Page Rectangle - 1 Month</strong>
										</h4>

										<div class="widget-toolbar">
											<a href="#" data-action="collapse">
												<i class="icon-chevron-up"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="widget-main"><div class="widget-body-inner" style="display: block;">
											<form action="#">
												<p>This ad spot is currently <strong>AVAILABLE</strong>. 
												You may place your best offer for this ad and an auction will start. The auto-bid system will 
												increment your bid by the minimum amount up to your maximum offer if another person places a 
												higher bid. If no other offers are placed or yours is the highest at the end of the 72 hour 
												auction period, you will win the ad spot. You may not withdraw your bid once you place it, 
												abuse of the bidding system will result in a permanent ban.</p>

												<div class="space-4"></div>

												<span class="input-icon">
													<input type="number" name="bid" min="1" value="50">
													<i class="icon-dollar"></i>
												</span>
												<button class="btn btn-sm btn-primary" type="submit" name="submit">Place Bid</button>
											</form>

											<div class="space-8"></div>

											<blockquote>
												<strong>Description:</strong> On each site's details page this rectangle banner shows up, 
												showing your banner on the thousands of site detail pages on Game Sites 200 which are fully 
												indexed by search engines. Size may be up to 300x250 and may be a static or animated image.
											</blockquote>

											<img src="/images/detailspage_sample.jpg" />
											<div class="space-6"></div>
										</div></div>
									</div>
								</div>
							</div><hr />

							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->

			<div class="ace-settings-container" id="ace-settings-container">
				<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
					<i class="icon-cog bigger-150"></i>
				</div>

				<div class="ace-settings-box" id="ace-settings-box">
					<div>
						<div class="pull-left">
							<select id="skin-colorpicker" class="hide">
								<option data-skin="default" value="#438EB9">#438EB9</option>
								<option data-skin="skin-1" value="#222A2D">#222A2D</option>
								<option data-skin="skin-2" value="#C6487E">#C6487E</option>
								<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
							</select>
						</div>
						<span>&nbsp; Choose Skin</span>
					</div>

					<div>
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
						<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
					</div>

					<div>
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
						<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
					</div>

					<div>
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
						<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
					</div>

					<div>
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
						<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
					</div>

					<div>
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
						<label class="lbl" for="ace-settings-add-container">
							Inside
							<b>.container</b>
						</label>
					</div>
				</div>
			</div><!-- /#ace-settings-container -->
		</div><!-- /.main-container-inner -->

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->
</section>

<!-- Autoresize textarea -->
<script src="/javascripts/jquery.autosize.min.js"></script>
<script type="text/javascript">
jQuery(function($) {
	$('textarea[class*=autosize]').autosize({append: "\n"});
});
</script>
{{ >footer }}