{{ >header }}

<section class="sites">
	<div class="navbar navbar-default" id="navbar">
		<script type="text/javascript">
			try{ace.settings.check('navbar' , 'fixed')}catch(e){}
		</script>

		<div class="navbar-container" id="navbar-container">
			<div class="navbar-header pull-left">
				<a href="/dashboard" class="navbar-brand">
					<small>
						<i class="icon-leaf"></i>
						Gamesites200
					</small>
				</a><!-- /.brand -->
			</div><!-- /.navbar-header -->

			<div class="navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">

					<li class="light-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<img class="nav-user-photo" src="/avatars/avatar2.png" alt="Jason's Photo" />
							<span class="user-info">
								<small>Welcome,</small>
								{{ #user }} {{ username }} {{ /user }}
							</span>

							<i class="icon-caret-down"></i>
						</a>

						<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="#">
									<i class="icon-cog"></i>
									Settings
								</a>
							</li>

							<li>
								<a href="#">
									<i class="icon-user"></i>
									Profile
								</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="/logout">
									<i class="icon-off"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>
				</ul><!-- /.ace-nav -->
			</div><!-- /.navbar-header -->
		</div><!-- /.container -->
	</div>

	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try{ace.settings.check('main-container' , 'fixed')}catch(e){}
		</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>

			<div class="sidebar" id="sidebar">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="icon-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="icon-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="icon-group"></i>
						</button>

						<button class="btn btn-danger">
							<i class="icon-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- #sidebar-shortcuts -->

				<ul class="nav nav-list">
					<li>
						<a href="/dashboard/add">
							<i class="icon-sitemap"></i>
							<span class="menu-text"> Add Site </span>
						</a>
					</li>

					{{ #user }}
						{{ #site_details }}
							<li>
								<a href="/dashboard/sites/{{ site_name }}">
									<i class="icon-laptop"></i>
									<span class="menu-text"> {{ site_name }} </span>
								</a>
							</li>
						{{ /site_details }}
					{{ /user }}
					
				</ul><!-- /.nav-list -->

				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
				</div>

				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>

			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="#">Home</a>
						</li>
					</ul><!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div><!-- #nav-search -->
				</div>

				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							
							<h3>Site Information {{ name }}</h3>
							{{ #server }}
							{{ #game }}
							<h2 class="text-center">{{ name }}</h2>
							<hr>

							<form method="POST" class="form-horizontal" action="/dashboard/update_server" role="form">
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_name"> Site Name </label>

									<div class="col-sm-9">
										<input type="text" id="site_name" placeholder="Site Name" class="col-xs-10 col-sm-8" value="{{ site_name }}" />
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_url"> Site URL </label>

									<div class="col-sm-9">
										<input type="url" id="site_url" placeholder="Site Name" class="col-xs-10 col-sm-8" value="{{ site_url }}" />
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_banner"> Site Banner (URL) </label>

									<div class="col-sm-9">
										<input type="url" id="site_banner" placeholder="Site Banner" class="col-xs-10 col-sm-8" />
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_email"> Email </label>

									<div class="col-sm-9">
										<input type="email" id="site_email" placeholder="Site Email" class="col-xs-10 col-sm-8" value="{{ #user }}{{ email }}{{ /user }}" />
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="site_desc"> Site Description </label>

									<div class="col-sm-9">
										<textarea id="site_desc" class="col-xs-10 col-sm-8 autosize-transition"
										placeholder="Site Description" name="site_desc">{{ site_desc }}</textarea>
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right"></label>

									<div class="col-sm-9">
										<button class="btn btn-info" type="submit">
											<i class="icon-ok bigger-110"></i>
											Save
										</button>
									</div>
								</div>
							</form>

							<div class="row">
								<div class="col-xs-12">
									<div class="widget-box">
										<div class="widget-header widget-header-flat">
											<h4 class="smaller">
												<i class="icon-code"></i>
												Site Code
											</h4>
										</div>

										<div class="widget-body">
											<div class="widget-main">
												<pre class="prettyprint linenums">&lt;!--Begin GameSites200 Vote--&gt;
&lt;p&gt;&lt;a href="{{ main_url }}dashboard/in/{{ _id }}"&gt;&lt;img src="{{ main_url }}{{ url }}vote.gif" alt="Vote on the {{ name }} Top 200" border="0"&gt;&lt;/a&gt;&lt;br&gt;
&lt;a href="{{ main_url }}dashboard/in/{{ _id }}" style="display: none;"&gt;&lt;img src="{{ main_url }}/track.gif" alt="{{ name }} Top 200 - Cheats Free Resources" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;!--End Game Sites 200 Code--&gt;
												</pre>
											</div>
										</div>
									</div>
								</div>
							</div><br>

							{{ /game }}
							{{ /server }}
							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->

			<div class="ace-settings-container" id="ace-settings-container">
				<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
					<i class="icon-cog bigger-150"></i>
				</div>

				<div class="ace-settings-box" id="ace-settings-box">
					<div>
						<div class="pull-left">
							<select id="skin-colorpicker" class="hide">
								<option data-skin="default" value="#438EB9">#438EB9</option>
								<option data-skin="skin-1" value="#222A2D">#222A2D</option>
								<option data-skin="skin-2" value="#C6487E">#C6487E</option>
								<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
							</select>
						</div>
						<span>&nbsp; Choose Skin</span>
					</div>

					<div>
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
						<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
					</div>

					<div>
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
						<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
					</div>

					<div>
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
						<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
					</div>

					<div>
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
						<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
					</div>

					<div>
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
						<label class="lbl" for="ace-settings-add-container">
							Inside
							<b>.container</b>
						</label>
					</div>
				</div>
			</div><!-- /#ace-settings-container -->
		</div><!-- /.main-container-inner -->

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->
</section>

<!-- Autoresize textarea -->
<script src="/javascripts/jquery.autosize.min.js"></script>
<script type="text/javascript">
jQuery(function($) {
	$('textarea[class*=autosize]').autosize({append: "\n"});
});
</script>
{{ >footer }}